html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "Open Sans";
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

p {
  margin-top: 0;
}

img {
  display: block;
  margin: 0 auto 1.5rem;
  width: 100%;
  max-width: 100px;
}

section {
  padding: .75rem;
  overflow: hidden;
}

div {
  padding: .75rem;
  float: left;
  max-width: 25%;
  min-height: 25rem;
}

cite {
  font-size: .875rem;
}

.btn {
  border-left: 1px solid #333;
}

.btn-small {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #333;
  padding: .5rem;
  border-radius: 10px;
  display: inline-block;
}

.btn:hover {
  background-color: #ccc;
}

.btn.btn-small:hover {
  background-color: #f33;
}

.card1 {
  background-color: #e2e2e2;
}

.card2 {
  background-color: #ccc;
}

.card3 {
  background-color: #aaa;
}

.card4 {
  background-color: #999;
  border-right: 1px solid #333;
}
